.page-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: orange;
}

.pokemon-box {
    display: flex;
    max-width: 1085px;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 50px;
}

.button-box {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.header-image-sizer {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 25px;
}

.header-image-sizer img {
    width: 500px;
}